* text=auto eol=lf

*.blade.php diff=Laravel
*.css diff=css
*.html diff=Laravel
*.md diff=markdown
*.php diff=php

*.css linguist-detectable=false
*.blade linguist-detectable=true
*.html linguist-detectable=false


/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
