* text=auto eol=lf

*.blade.php diff=Laravel
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.Laravel linguist-detectable=true
*.html linguist-detectable=false
*.css linguist-detectable=false
*.php linguist-detectable=false
*.md linguist-detectable=false
*.JavaScript linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
